
@font-face {
    font-family: 'Halimun';
    src: local('Halimun'), url(./fonts/Halimun.ttf) format('truetype');
}

@font-face {
    font-family: 'Geratis';
    src: local('Geratis'), url(./fonts/Geratis.otf) format('opentype');
}
 
@font-face {
  font-family: 'Fohligten';
  src: local('Fohligten'), url(./fonts/Foglihten.otf) format('opentype');
}


.borders{
    border-radius: 15px 50px;
    background-color: white;
    padding: 20px;
    width: 1000px;
    height: 650px;
    //border-style: dotted;
}

.borders:before{
  content: '';
  position: fixed;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.borders:hover:before{
  left:-78%;
  transform: skewX(-5deg);
}


.mar{
    font-family: RetroSans;
    font-size: 60px;
    margin-top: 20px;
}

img.image {
    border-radius: 50% 10% 40%;
    position: absolute;
    margin-left: -450px;
    height: 400px;
    width: 300px;
    pointer-events: none;
    opacity: 0.85;
    padding-left: 10px;
    float: left;
    box-shadow: 10px 10px 5px grey;
    opacity: 1;
}

.text{
    /*border-style: solid;*/
    position: absolute;
    margin-left: 400px;
    margin-right: 100px;
    font-family: 'Courier New';
    font-weight: bolder;
    font-size: 27px;
    line-height: 1.5; 
    text-align: left;
}

.cross_line{
    margin-left: 200px;
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
}

.cross_line:before, .cross_line:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.cross_line:before {left: 7px;}
.cross_line:after {right: 7px;}
.cross_line:hover:before{
  top: 0px;
  left:0;
  height: 100%;
}
.cross_line:hover:after{
  top: 0px;
  right: 0;
  height: 100%;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}


.repeating-linear {
  border: 12px solid black;
  border-image: repeating-linear-gradient( 45deg, black, black 1%, grey 10%, grey 8%) 10;
}

.repeating-linear:hover {
  border-image: repeating-linear-gradient( 45deg, grey, grey 1%, black 10%, black 8%) 10;
  background-color: whitesmoke;
  opacity: 0.98;
}
