

@font-face {
    font-family: 'ComodoVintage';
    src: local('ComodoVintage'), url(./fonts/Comodo\ Vintage.ttf) format('truetype');
  }

@font-face {
    font-family: 'RetroSans';
    src: local('RetroSans'), url(./fonts/RetroSans.ttf) format('truetype');
  }

.borders1{

    display:inline-block;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-style: initial;
    background:rgb(237, 238, 230);
    opacity: 0.95;
    padding: 20px;
    width: 900px;
    height: 650px;
}

.mar1{
    font-family: RetroSans;
    font-size: 60px;
    margin-top: 20px;
}

.mar2{
    background-clip: text;
    -webkit-background-clip: text;
    
}

.mar3{

    font-family: ComodoVintage;
    text-indent: 50px;
    font-size: 25px;
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    line-height: 1.9;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #cbedff;
    color: darkblue;
}

.mar4{
    font-family: RetroSans;
    font-size: 28px;
}

.one {
    border: solid 5px grey;
}

.borders1:before{
    content: '';
    position: fixed;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}
  
.borders1:hover:before{
    left:-78%;
    transform: skewX(-5deg);
}
  
